/* Default */
html,
body {
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	background: #272727;
	color: #fff;
}

.angle::before {
	border-bottom: 72px solid #333;
	border-right: 960px solid transparent;
	left: 0;
}
.angle::before,
.angle::after {
	bottom: 0;
	content: "";
	height: 0;
	position: absolute;
	width: 0;
	z-index: 4;
}
.angle::after {
	border-bottom: 72px solid #333;
	border-left: 960px solid transparent;
	right: 0;
}
.angle2::before {
	border-top: 72px solid #333;
	border-right: 960px solid transparent;
	left: 0;
}
.angle2::before,
.angle2::after {
	top: 0;
	content: "";
	height: 0;
	position: absolute;
	width: 0;
	z-index: 4;
}
.angle2::after {
	border-top: 72px solid #333;
	border-left: 960px solid transparent;
	right: 0;
}

/* Navigation menu */
.bg-orange {
	background-color: rgba(243, 202, 47, 0.6) !important;
	border-bottom: 2px solid #fff !important;
}

.trapeze:after {
	content: "";
	border: none;
	position: absolute;
	background: #272727;
	width: 18px;
	height: 40px;
	left: -11px;
	bottom: 0px;
	transform: skew(-20deg);
}

.trapeze:before {
	content: "";
	border: none;
	position: absolute;
	background: #272727;
	width: 18px;
	height: 40px;
	right: -10px;
	bottom: 0px;
	transform: skew(-20deg);
}

.trapeze {
	display: block;
	text-align: center;
	line-height: 25px;
	font-size: 16px;
	position: relative;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 11px;
	width: 150px;
	height: 40px;
	background: #272727;
	margin-top: 10px;
}

@media (max-width: 992px) {
	.trapeze {
		display: block;
		text-align: center;
		line-height: 25px;
		font-size: 16px;
		position: relative;
		text-decoration: none;
		margin-left: 20px;
		margin-right: 10px;
		width: calc(100% - 40px);
		height: 40px;
		background: #272727;
		margin-top: 10px;
	}
}

/* header */
header {
	background: url("../img/background.jpg");
	font-family: "Oswald", sans-serif;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	transition: all 0.35s ease 0s;
	-webkit-transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	overflow: hidden;
}
header .header-content {
	margin-top: 220px;
}
.header-content h1 {
	font-size: 44px;
	margin-bottom: 28px;
	text-transform: uppercase;
	color: #f3ca2f;
}

.header-content h2 {
	text-transform: uppercase;
}

/* php */
#php {
	background-color: #0e0e0e;
	background-size: 10%;
	position: relative;
	padding: 120px 0;
	width: 100%;
	overflow: hidden;
	font-size: 20px;
}
#php h2,
h3 {
	font-size: 42px !important;
	text-transform: uppercase;
	font-family: "Oswald";
}
#php h2 span {
	color: #f3ca2f;
	text-transform: uppercase;
}
#php ul li {
	list-style: none;
}
#php ul li a {
	color: #f3ca2f;
	text-decoration: none;
}
#php ul li a:hover {
	color: #fff;
	text-decoration: none;
}
